*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@font-face {
  font-family: 'Minecraftia-Regular';
  src: url('../fonts/Minecraftia-Regular.ttf');
}

body {
  font-family: 'Minecraftia-Regular', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: repeat;
  background-size: 96px;
  background-image: url("../images/dirt.jpg");
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.75);
  position: relative;
}

.mc-button {
  display: inline-block;
  width: 480px;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  background: #999 url("https://i.ibb.co/rb2TWXL/bgbtn.png") center/cover;
  image-rendering: pixelated;
  border: 2px solid #000;
}

.mc-button:hover .title {
  background-color: rgba(100, 100, 255, 0.45);
  text-shadow: 2px 2px #202013CC;
  color: #FFFFA0;
}

.mc-button:active .title {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

.mc-button .title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DDD;
  text-shadow: 2px 2px #000A;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}

.mc-button .text {
  padding-top: 5px;
}

.mc-button.full {
  height: 100%;
}

.mc-button.lang img {
  width: 36px;
  height: 24px;
}

.mc-button.lang {
  width: 38px;
}

.mc-button.lang .title {
  padding-bottom: 0;
}
